/* title section */

#title{
    background-color: #7E8446;
    color: white;
}

.container-fluid{
    padding:5% 3%;
}

.navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    font-size: 45px;
    color: white;
}


/* about section */
span{
    font-family: 'Shadows Into Light', cursive;
    
}
.about{
    padding:7% 5% ;
}
.about-txt{
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-right: 5%;
    
}
@media (max-width:992px) {
    .about-txt{
        margin-top: 10%;
    }
}

img{
    height: 300px;
    width: 550px;
    
}

/* main body */

#main-body{
    padding: 7% 15%;
    text-align: center;
    background-color: #f2e9d2;
    
    
    
}
.poses{
    padding: 3%;
}

.ypose{
    width: 75%;
    height: 75%;
    border-radius: 100%;
    
    
}
.card{
    /* background-color: #d4ad76; */
    background-color: #f2e9d2;
    border: #d4ad76;
}

.log-reg{
   margin:5% 3% ;
   width: 100px;
   color:white;
   font-weight: bolder;
   background-color: #82b440;
}
.log-reg:hover{
    background-color: #82b440;
    color:white;
}
.footer{
    background-color: #a58251;
    text-align: center;
    color: white;
}